@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .top {
        height: 735px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        &__title-h1 {
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    
        &__title-p {
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; 
        }

        &__title-br {
            display: none;
        }
    
        &__form {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
            padding-top: 32px;
            padding-bottom: 14px;
            text-align: center;
        }
    
        &__form-title {
            color: #FFF;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border-radius: 30px;
            background: #9C0332;
            width: 234.063px;
            height: 48.603px;
            flex-shrink: 0;
            border: 1px solid #9C0332;
            
    
            &:hover {
                border-radius: 30px;
                background: #EB443F;
            }
        }
    }

    .title-p-1 {
        color: #FFF;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
    }

    .product-box-top {
        padding-top: 128px;
        padding-left: 0px;
    
        &__content {
            flex-wrap: wrap;
            column-gap: 32px;
            row-gap: 32px;
            display: flex;
          }
      }

    .product {
        transition: all 0.3s;
        width: 343px;
        top: 1896px;
        left: 116px;
        border: 1px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    
        &:hover {
            border-radius: 16px;
            box-shadow: 0px 0px 0px 3px #44D2FF;
        }
    
        &__game-1 {
            height: 300px;
            background-image: url(image/Game-1-mobile.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-decoration: none;
        }
    
        &__game-2 {
            height: 300px;
            background-image: url(image/Game-2-mobile.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-decoration: none;
        }
    
        &__game-3 {
            height: 300px;
            background-image: url(image/Game-3-mobile.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-decoration: none;
        }
    
        &__game-name {
            display: flex;
            width: 300px;
            height: 31.639px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            padding-left: 16px;
            padding-right: 268px;
            padding-top: 236px;
            color: #FFF;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px; 
            text-decoration: none;
        }
      }

    .section {
        height: 1221px;
      }

    .footer {
        height: 653.61px;
        display: block;

        &__logo {
            display: none;
        }
    }

    .footer__logo-mobile {
        display: block;
        width: 344px;
        height: 236px;
        margin-top: 64px;
    }

    .footer-br {
        display: none;
    }

    .footer-box {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        margin-top: 51px;
    
        &__title-h2 {
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 343px;
      }
    
      &__title-p2 {
        font-size: 14px;
        width: 343px;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px; 

      }
    
      &__form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        width: 343px;
        padding-bottom: 0px;
    }
    
    &__form-button {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #9C0332;
        width: 234.063px;
        height: 48.603px;
        flex-shrink: 0;
        border: 1px solid #9C0332;
    
        &:hover {
            border-radius: 30px;
            background: #EB443F;
        }
    }  
    }



}